langchain
langchain-text-splitters
langchain-community
bs4
langchain[google-genai]
langchain-google-genai
langchain-core
langchain-unstructured
unstructured-client
unstructured
unstructured[pdf]
unstructured[xlsx]
python-magic